:root {
  --primary-color: hsl(150, 100%, 66%);
  --text-light: hsl(193, 38%, 86%);
  --secondary-color: hsl(217, 19%, 24%);
  --bg-primary: hsl(218, 23%, 16%);
  --bg-secondary: hsl(217, 19%, 24%);

  /* Font */
  --font-quote: 1.75rem;
  --font-normal: 1rem;

  /* Max-width */
  --width-desktop: 1440px;
  --width-mobile: 375px;
  --width-primary: 1200px;

  /* Font weight */
  --weight-primary: 800;
}

img {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background: var(--bg-primary);
  color: hsl(193, 38%, 86%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90vh;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--bg-secondary);
  padding: 2.5rem 2rem 0;
  max-width: 540px;
  min-height: 250px;
  border-radius: 1rem;
}

p {
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 0.75rem;
}

h1 {
  font-weight: var(--weight-primary);
  margin: 1.5rem 0 2.1rem;
  font-size: var(--font-quote);
  font-weight: var(--weight-primary);
}

.dice-container {
  background: var(--primary-color);
  padding: 1.3rem;
  border-radius: 50%;
  transform: translateY(30px);
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.dice-container:hover {
  box-shadow: 0 0 20px 1px hsl(150, 100%, 66%);
}

/* Media queries */
@media (max-width: 600px) {
  .card {
    padding: 2.7rem 2.4rem 0;
  }
}
